:root
  --fg: #FFE6A7
  --bg: #432818
  --accent: #6F1D1B
  --secondary: #99582A

  --h1-size: 64px
  --h2-size: 40px
  --font-size: 24px
  --img-border-radius: 10px
  @media (max-width: 900px)
    --h1-size: 32px
    --h2-size: 20px
    --font-size: 14px

  background: var(--bg)
  color: var(--fg)
  font-family: sans-serif
  font-size: var(--font-size)
  overflow-wrap: anywhere

body
  margin: 0

.hero
  min-height: 400px
  background: var(--accent)
  display: flex
  align-items: center
  text-align: center
  padding-top: 50px
  padding-bottom: 50px
.hero img
  max-width: min(40vw, 600px)
  max-height: min(25vw, 400px)

h1
  font-size: var(--h1-size)
  text-align: center
  margin: 200px 50px 200px

h2, h3
  text-align: left
  font-size: var(--h2-size)
  margin: 100px 0 20px

.elevated-image
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.6))
  //box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2)

.flex-horizontal
  display: flex
  flex-direction: row
  @media (max-width: 900px)
    flex-direction: column
    align-items: center

.padding
  max-width: 65vw
  margin: 0 auto
  padding: 0 2rem
  text-align: justify
  @media (max-width: 900px)
    max-width: 80vw

.img
  max-width: min(800px, 100vw, 100%)
  display: block
  margin: 1.5rem auto

.footer
  opacity: 0.5
  margin-top: 200px
  background: var(--secondary)
  position: absolute
  left: 0
  overflow: hidden
  padding-left: 50px
  width: calc(100% - 50px)

.rounded
  border-radius: var(--img-border-radius)

a
  color: var(--fg)

p
  line-height: 1.8